* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  /* background-image: url(/public/Images/Poster.png); */
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hovered-div:hover {
  background-color: #be123c1a;
  color: red;
  cursor: pointer;
  transition: "background-color 0.3s ease";
}

.movie-grid {
  display: grid;
  grid-template-columns: "1fr 1fr 1fr 1fr";
}

@media screen and (min-width: 990px) {
  .movie-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 989px) {
  .movie-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-div .nav-body .nav-input {
    display: none; /* Hide the input at or below 768px */
  }
  .nav-input-mobile {
    display: block;
  }

  .movie-grid {
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem; */
  }
}

@media screen and (max-width: 550px) {
  .movie-grid {
    grid-template-columns: 1fr;
    /* gap: 1rem; */
  }
}

/* hiding aside at small screen  */
@media screen and (max-width: 768px) {
  .aside-nav {
    display: none;
  }
  .asidemain {
    width: 100%;
    left: 0;
    /* right: ; */
  }
  .div-wrap {
    display: flex;
    flex-direction: column;
  }

}
